{
	"presets": [
		[
			"@babel/preset-env",
			{
				// 描述您为项目支持/目标的环境
				"targets": {
					// 大于相关浏览器版本无需用到 preset-env
					"edge": 17,
					"firefox": 60,
					"chrome": 67,
					"safari": 11.1
				},
				// 根据代码逻辑中用到的 ES6+语法进行方法的导入，而不是全部导入
				"corejs": "3", // <---  此处加个这个，就没有报错警告了,不加会又一个警告，让你下载corejs
				"useBuiltIns": "usage"
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "es",
				"style": "css" // `style: true` 会加载 less 文件
			}
		],
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		]
	]
}